body {
    border: .5rem solid;
    border-color: white;
}

body > div:first-of-type {
    background-color: #d9ead3;
}

header {
    background-color: #231010;
}

nav {
    padding: 2rem;
}

nav a {
    margin: 0 1rem;
    color: #d9ead3;
}

header h1 {
    margin-bottom: 3rem;
}

.logo {
    padding: .5rem;
    background-color: #d9ead3;
    color: #231010;
    box-shadow: 6px 6px gray;
    border-radius: .5rem;
}